<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <input class="form-control" placeholder="请输入商品名称" [(ngModel)]="keyword" [formControl]="titleFilter">
    </div>
  </div>
</div>
<div class="col-md-4 col-sm-4" *ngFor="let product of product | pipe: 'title':keyword">
  <div class="thumbnail">
    <img [src]="url" alt="...">
    <div class="caption">
      <a [routerLink]="['/product',product.title]">{{product.title}}</a>
      <h4 class="pull-right">{{product.price}}元</h4>
      <p>{{product.desc}}</p>
    </div>
    <div>
      <app-start [rating]="product.rating"></app-start>
    </div>
  </div>
</div>
